@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

section {
  scroll-snap-align: start;
}

.perspective {
  perspective: 1200px;
}